.idea
hfg-programming.iml
/game/server/node_modules/
/game/.ftpconfig
/game/k8s/info.txt
/img/globe/*16k.*
/img/globe/3*
/img/globe/galaxy_starfield.png
node_modules
homeworks*.json*
homeworks.log*
hwadmin.js
data/osc
aprx_pos_planets.pdf
index.html.1
*.zip
info_*
emerald
zork
progsp.*.key
progsp.*.pem
